<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Player</title>
</head>

<body>
    <h1>Add a New Player to the List</h1>
    <form action="/players" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required />
        </div>
        <div>
            <label for="position">Position:</label>
            <select name="position" id="position" required >
                <option value="">Select a Position</option>
                <option value="QB">Quarterback</option>
                <option value="HB">Halfback</option>
                <option value="WR">Wide Receiver</option>
                <option value="TE">Tight End</option>
                <option value="OL">Offensive Lineman</option>
                <option value="DL">Defensive Lineman</option>
                <option value="LB">Linebacker</option>
                <option value="CB">Cornerback</option>
                <option value="S">Safety</option>
                <option value="K">Kicker</option>
                <option value="P">Punter</option>
            </select>
        </div>
            <label for="yearsActive">Years Active:</label>
            <input type="number" name="yearsActive" id="yearsActive" required >
        <div>
            <label for="yearsWithJets">Years with Jets:</label>
            <input type="number" name="yearsWithJets" id="yearsWithJets" required >
        </div>
        <div>
            <label for="proBowls">Number of Pro Bowls:</label>
            <input type="number" name="proBowls" id="proBowls" required >
        </div>
        <div>
            <label for="yearInducted">Year Inducted:</label>
            <input type="number" name="yearInducted" id="yearInducted" required >
        </div>
        <div>
            <label for="retiredAJet">Retired a Jet?:</label>
            <input type="checkbox" name="retiredAJet" id="retiredAJet">
        </div>

        <button type="submit">Add Player</button>
    </form>

    <a href="/">Back to Home</a>
</body>

</html>