<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York Jets</title>
</head>
<body>
    <h1>Welcome to the Jets Hall of Fame</h1>
    <p> An app for tracking all former New York Jets players in the NFL Hall of Fame</p>
    <a href="/players">Browse Players</a>
    <a href="/players/new">Add New Player</a>
</body>
</html>